body {
    background-color: rgb(233,233,255);
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    color: rgb(44,45,46);
}

h1 {
    color: rgb(83,49,156);
    margin: 32px 0 64px 0;
}

.container {
    /* white container */
    background-color: white;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0 64px 64px 64px;
    box-sizing: border-box;
    /* allows positioning of the gray underline underneath the tabs */
    position: relative;
}

.tabs {
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(200,100,255);
    padding: 16px;
    margin: 0 0 32px 0;
}

.tabs p {
    padding: 8px;
}

.tabs p:hover {
    /* hover effect */
    color: rgb(106, 80, 173);
    cursor: pointer;
}

.tabs p.active {
    color: rgb(83,49,166);
    /* allows positioning of the purple underline underneath the active tab */
    position: relative;
}

.line {
  /* create a horizontal grey line across the container */
    height: 3px;
    background-color: rgb(231,231,230);
    width: 100%;
    position: absolute;
    top: 97px;
}


.tabs .active::Before {
    /* create a small purple line underneath the selected tab (rather than use a bottom border) */
    content: "";
    height: 4px;
    background-color: rgb(89,50,145);
    position: absolute;
    bottom: -31px;
    left: -50%;
    width: 200%;
    z-index: 2;
    border-radius: 10px;
}

.togglewrapper {
    display: flex;
}
.togglewrapper img {
    /* re-size the 2 icons and add margin */
    height: 40px;
    margin: 0 16px;
} 

 .toggle {
    /* styling the Toggle buttons */
    background-color: rgb(83,50,160);
    width: 140px;
    height: 32px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 4px 0 16px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    box-sizing: border-box;
}

.toggle span:first-of-type {
    /* styling the first toggle button */
    color: white;
}

.toggle span:last-of-type {
    /* styling the second toggle button */
    background-color: white;
    color: rgb(83,50,160);
    padding: 4px 16px;
    border-radius: 20px;
}

.sessions {
    background-color: rgb(250, 247, 255);
    text-align: center;
    padding: 32px;
    width: 50%;
    text-transform: uppercase;
    margin: 16px 0;
    border-radius: 10px;
    box-sizing: border-box;
}

.sessions p {
    color: rgb(44,44,44);
    font-size: 12px;
    font-weight: bold;
    margin: 16px 0 0 0;
}

.sessions .number {
    color: rgb(83,44,156);
    font-size: 55px;
    margin: 0;
}

.description {
    line-height: 32px;
    margin: 16px 0 32px 0;
}

.slider {
    /* setting the width allows the slider bar to go across the screen */
    width: 100%;
    /* enables us to use absolute positioning for progress bar and point positioning */
    position: relative;
    margin-bottom: 16px;
}
.slider .bar {
    width: 100%;
    height: 16px;
    background-color: rgb(248,248,248);
    border: 1px solid rgb(210,210,210);
    border-radius: 20px;
}

.slider .progress {
    /* set our colorful progress bar at 32% mark */
    width: 32%;
    height: 18px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,10,74,1) 36%, rgba(83, 49, 156, 1) 100%);
    /* need to match border radius on the slider bar */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* position the progress bar  */
    position: absolute;
    top: 0;
    left: 0;
}

.slider .point {
    /* create a circle point to mark the current progress */
    height: 24px;
    width: 24px;
    background-color: rgb(83,48,156);
    border-radius: 50%;
    /* positioning the point to the end of the progress bar */
    position: absolute;
    top: -5px;
    left: 30%;
    border: 2px solid white;
    transition: 0.15s transform ease;
}

.slider .point:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.scale {
    width: 100%;
}
.slider .scale ul {
    list-style: none;
    display: flex;
    /* evenly spaces the scale numbers */
    justify-content: space-between;
    padding: 0;
    font-weight: bold;
    color: rgb(166,166,166);

}

.cardwrapper {
    display: flex;

}

.card {
    background-color: rgb(250,247,255);
    border-radius: 16px;
    margin: 16px;
    box-shadow: 0px 3px 11px 1px rgba(0,0,0,0.1);
    padding: 16px 32px;
    text-align: center;
    font-weight: bold;
    color: rgb(83,49,156);
    transition: 0.15s transform ease;
    position: relative;
}

.card:hover {
    transform: translatey(-8px);
}
.topsection {
    padding: 8px;
    text-transform: uppercase;
}
.card .topsection p {
    margin: 4px 0;
}
.card .price {
    font-size: 42px;
    color: rgb(44,44,44);
}

.card hr {
    width: 30%;
    border: 1px solid rgb(210,210,210);
    border-radius: 2px;
}

.card button {
    border: none;
    color: white;
    background-color: rgb(83,49,156);
    padding: 16px;
    border-radius: 10px;
    transition: 0.15s transform ease;
    font-weight: bold;
    margin: 8px 0;
}

.card button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card .save {
    color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(53,10,74,1) 36%, rgba(83, 49, 156, 1) 100%);
    /* use absolute positioning to place the purple banner above the card */
    position: absolute;
    top: -24px;
    left: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media only screen and (max-width: 750px) {
    .card {
        width: 100%;
    }
    .cardwrapper {
        flex-wrap: wrap-reverse;
    }
    .sessions {
        width: 80%;
    }
}

@media only screen and (max-width: 590px) {
    .container {
        padding: 0 16px;
    }
    body {
        padding: 16px;
    }
    .sessions {
        width: 100%;
    }

h1 {
    margin: 0 0 16px 0;
}

.togglewrapper {
    width: 90%;
    justify-content: center;
}
}